@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;  /*Considerar a borda do mesmo jeito*/
}

body{
    background-color: #f6f8fc;
}
.content{
    height: 100vh;
    width: 100vw;
    padding: 1rem; /*Valor rem é mais maleável*/
    background-color: #fff;
    
}
@media screen and (min-width: 992px) { /*Media query*/
   .content{
    max-width: 992px;
    height: auto;
    margin: 1rem auto; /*Margin auto coloca o maximo possivel pra direita e pra esquerda fazendo ficar centralizado. Tem que ter tamanho*/
    border-radius: 1rem;
   }
}
.content h1{
    margin: 0;
}
